h1{
    text-align: center;
}
body{
    background-color: #303030;
    color: aliceblue;
}
#circulo{
    background-color: rgb(49, 49, 105);
}
#hipotenusa{
    background-color: rgb(118, 56, 56) ;
}
#reais{
    background-color: rgb(118, 56, 56) ;
}
#temperatura{
    background-color: rgb(49, 49, 105);
}
#baskara{
    background-color: rgb(118, 56, 56) ;
}
#velocidade{
    background-color: rgb(49, 49, 105);
}
#media{
    background-color: rgb(118, 56, 56) ;
}
#retangulo{
    background-color: rgb(49, 49, 105);
}
#triangulo{
    background-color: rgb(118, 56, 56) ;
}